include requirements.txt
include README.md
recursive-exclude macosko2015 *.csv *.netcdf
include macosko2015/data/00_original/*
include macosko2015/notebooks/*.ipynb
include macosko2015/figures/*
recursive-exclude macosko2015 *.ipynb_checkpoints

