include requirements.txt
include README.md
include macosko2015/data/*/*txt.gz
include macosko2015/data/*/*txt
include macosko2015/data/*/*xlsx
include macosko2015/data/*/*csv
include macosko2015/data/*/*netcdf
include macosko2015/notebooks/*ipynb