include requirements.txt
include README.md
recursive-include macosko2015/data/00_original *.txt *.txt.gz *.xlsx *.csv *.netcdf *.ipynb
recursive-exclude macosko2015 *.ipynb_checkpoints

# Exclude the really big files
